@charset "utf-8"; /* 한글이 깨지지 않기 위해 */
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Play&display=swap');
/* font-family: 'Monoton', cursive;
font-family: 'Play', sans-serif; */
.vid {width: 100%; height: 100%; position: fixed; top:0; left:0; z-index: -999; background: rgba(0, 0, 0, 0.5)}
.vid video {min-width: 100%; min-height:100%; position: absolute;
    /* 컨텐츠를 부모의 정중앙에 배치하기 위한 공식 */
    top:50%; left:50%; transform:translate(-50%, -50%)}

body {font-family: 'Play', sans-serif; font-size: 18px;}
.skip a {position: absolute; top:-100; left: 0; width: 1px; height: 1px; overflow: hidden; background: #000; color: #fff;text-align: center; z-index: 9999;}
.skip a:focus {padding: 10px 0; height: auto; top:0; width: 100%; position: fixed; outline: none;}
#header {width:700px; height:100%; position: fixed; top:0; left:-420px; background-image:linear-gradient(-45deg,#e6fc55,#b9fb05,#97e031); transform:skew(-40deg);}
#header h1 {position: absolute; top:40px; right: 150px; transform:skew(40deg);}
/* position 속성을 가질 때는 넓이를 안 줌 그래서 자식 넓이를 조절해야 함 */
#header h1 img {width:280px}
#nav {position: absolute; right: 0; top: 200px; width: 220px;}
#nav .depth1 > li {position: relative;}
#nav .depth1 > li > a {display: block; /* 부모와 같은 넓이로 링크를 걸기 위함 (부모와 같은 성격) */ color: #000; text-align: right; padding: 15px 40px 15px 0; transition: all 0.5s;}
#nav .depth1 > li:hover > a {background: #000; color:#fff}
#nav .depth1 > li:first-child > a {background: #000; color:#fff}
#nav .depth1 > li > a > strong {transform:skew(40deg); display: inline-block } /* 트랜스폼 경우 블락 성격이 있어야만 적용됨 */
#nav .depth1 > li > a > strong > i {margin-right: 10px}
#nav .depth2 {position: absolute; left: 0%; top: 0; width: 180px; font-size: 16px; opacity: 0; transition: all 0.3s}
/* 트랜지션은 문자값(none)인 애한테는 적용 안 됨 그래서display가 아니라 opacity 속성을 써야 함 */
#nav .depth1 > li:hover .depth2 {position: absolute; left: 95%; top: 0; width: 180px; font-size: 16px; opacity: 1;}
#nav .depth2 li {margin-bottom: 3px;}
#nav .depth1 > li:first-child .depth2 {left: 95%; opacity: 1;}
#nav .depth2 a {display: block; background: rgba(0, 0, 0, 0.5); color: #fff; padding: 12px 0; text-align: center; border-bottom: 2px solid #97e031; }
#nav .depth2 a span {display: inline-block; 
    /* span은 순수한 inline 요소여서 transform이 적용 안 됨 */
    transform:skew(40deg);}
#nav .depth2 li:hover a {background: rgba(185,251,5,0.5);}

#sns {position: fixed; top: 60px; right:50px;}
#sns a {font-size: 25px; margin: 10px 10px; color:rgba(185, 252, 5, 0.5); transition: all 0.5s; display: inline-block;}
#sns a:hover {color: rgba(185,252,5,1);transform: scale(1.4)}
/* 텍스트 박스 */
#text {position: fixed; top:200px; right:70px}
#text div:nth-child(1) span {color:#b9fb05;
    font-family: 'Monoton', cursive;
    font-size:160px;
    letter-spacing: -1px;}
#text div:nth-child(1) { color:#fff; font-size: 50px;
}
#text div:nth-child(2) {
    font-size:34px;
    color:#bbb; letter-spacing: -2px;
    transform: translateY(-50px)
}
#text div:nth-child(2) span{
    font-family: 'arial';
    font-size:34px;
    color:#b9fb05; letter-spacing: -2px;
    padding-left: 20px;
}

#side {width: 800px; height: 100%; background: #111; opacity: 0.3; position: fixed; right: -800px; top: 0; position:fixed; transform: skew(-40deg); transition: all 0.5s;}
#side .content {width:400px; height: 100%; background: #000; position: absolute; left: 135px; transition: all 1s;}
#side:hover {right:-500px; opacity: 0.8;}
#side:hover .content {left: 50px;}
#side .content p:nth-child(1) {position: absolute; bottom: 270px; transition: 0.4s;}
#side .content p:nth-child(2) {position: absolute; bottom: 160px; transition: 0.8s;}
#side .content p:nth-child(3) {position: absolute; bottom: 50px; transition: 1.2s;}
#side .content p {left: 250px}
#side:hover .content p {left: 50px;}
#side .content p strong {transform: skew(40deg); display: inline-block; color:#a0bd50; padding:3px 0}
#side .content p img {opacity: 0.3; transition: all 0.3s;}
#side .content p img:hover {opacity: 1;}

#side .arrow {position: absolute; bottom: 40px; left: 100px; width:150px; height: 50px; font-size: 40px; color: #b9fb05; transform: skew(40deg);}
#side:hover .arrow {left: 900px;}
#side .arrow i {position: absolute; top:0; right:0; animation: iani 1.5s infinite linear}
#side .arrow i:nth-child(1) {animation-delay: 0s}
#side .arrow i:nth-child(2) {animation-delay: 0.5s}
#side .arrow i:nth-child(3) {animation-delay: 1s}

@keyframes iani {
    0% {}
    100% {right: 100px; transform:scale(1.5); opacity: 0;}
}